# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [2]:
import pandas as pd
import pandas as pd
insurance_df1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
insurance_df2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
insurance_df3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")
insurance_df1 = insurance_df1.rename(columns={"ST":"STATE"})
insurance_df2 = insurance_df2.rename(columns={"ST":"STATE"})

In [3]:
insurance_df1 = insurance_df1.rename(columns=lambda x: x.upper().replace(" ","_"))
insurance_df2 = insurance_df2.rename(columns=lambda x: x.upper().replace(" ","_"))
insurance_df3 = insurance_df3.rename(columns=lambda x: x.upper().replace(" ","_"))

In [4]:
print(insurance_df1.columns)
print(len(insurance_df1))
print(insurance_df2.columns)
print(len(insurance_df2))
print(insurance_df3.columns)
print(len(insurance_df3))
print(len(insurance_df1)+len(insurance_df2)+len(insurance_df3))

Index(['CUSTOMER', 'STATE', 'GENDER', 'EDUCATION', 'CUSTOMER_LIFETIME_VALUE',
       'INCOME', 'MONTHLY_PREMIUM_AUTO', 'NUMBER_OF_OPEN_COMPLAINTS',
       'POLICY_TYPE', 'VEHICLE_CLASS', 'TOTAL_CLAIM_AMOUNT'],
      dtype='object')
4008
Index(['CUSTOMER', 'STATE', 'GENDER', 'EDUCATION', 'CUSTOMER_LIFETIME_VALUE',
       'INCOME', 'MONTHLY_PREMIUM_AUTO', 'NUMBER_OF_OPEN_COMPLAINTS',
       'TOTAL_CLAIM_AMOUNT', 'POLICY_TYPE', 'VEHICLE_CLASS'],
      dtype='object')
996
Index(['CUSTOMER', 'STATE', 'CUSTOMER_LIFETIME_VALUE', 'EDUCATION', 'GENDER',
       'INCOME', 'MONTHLY_PREMIUM_AUTO', 'NUMBER_OF_OPEN_COMPLAINTS',
       'POLICY_TYPE', 'TOTAL_CLAIM_AMOUNT', 'VEHICLE_CLASS'],
      dtype='object')
7070
12074

In [5]:
insurance_df2 = insurance_df2[insurance_df1.columns]
insurance_df3 = insurance_df3[insurance_df1.columns]

In [6]:
insurance_df = pd.concat([insurance_df1,insurance_df2,insurance_df3], axis=0, ignore_index=True)

In [7]:
insurance_df.loc[
    insurance_df["GENDER"] == "Male",
    "GENDER"
] = "M"


insurance_df.loc[
    ((insurance_df["GENDER"] == "Femal")|
    (insurance_df["GENDER"] == "female")),
    "GENDER"
] = "F"
insurance_df.loc[
    insurance_df["STATE"]=="AZ",
    "STATE"
] = "Arizona"

insurance_df.loc[
    insurance_df["STATE"]=="Cali",
    "STATE"
] = "California"

insurance_df.loc[
    insurance_df["STATE"]=="WA",
    "STATE"
] = "Washington"
insurance_df.loc[
    insurance_df["EDUCATION"] == "Bachelors",
    "EDUCATION"
]= "Bachelor"

insurance_df["CUSTOMER_LIFETIME_VALUE"] = insurance_df["CUSTOMER_LIFETIME_VALUE"].str.replace("%","")
insurance_df.loc[
    (insurance_df["VEHICLE_CLASS"] == "Luxury SUV") |
    (insurance_df["VEHICLE_CLASS"] == "Luxury Car") |
    (insurance_df["VEHICLE_CLASS"] == "Sports Car"),
    "VEHICLE_CLASS"
] = "Luxury"

In [8]:
insurance_df.loc[
insurance_df["CUSTOMER_LIFETIME_VALUE"].isna(),
"CUSTOMER_LIFETIME_VALUE"
] = 0.00
insurance_df["CUSTOMER_LIFETIME_VALUE"] = pd.to_numeric(insurance_df["CUSTOMER_LIFETIME_VALUE"])

insurance_df["STATE"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [9]:
marketing_customer_analysis = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [10]:
revenue_by_dept = pd.pivot_table(marketing_customer_analysis, index = "sales_channel",values = "income", aggfunc="sum").round(2).sort_values(by="income",ascending= False)
revenue_by_dept

                  income
sales_channel
Agent          152490152
Branch         113775608
Call Center     81055004
Web             62200103

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [11]:
liftime_value_x_education = pd.pivot_table(marketing_customer_analysis, index = "gender", values = "customer_lifetime_value", columns = "education",aggfunc="sum").round(0)

liftime_value_x_education

education    Bachelor     College     Doctor  High School or Below     Master
gender
F          13386258.0  12460108.0  1465702.0            13793600.0  3874600.0
M          12110062.0  12851725.0  1490482.0            12680914.0  3365559.0

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [12]:
pd.pivot_table(marketing_customer_analysis, columns= "policy_type",index = "month", values = "policy",aggfunc="count")

policy_type  Corporate Auto  Personal Auto  Special Auto
month
1                      1252           4329           237
2                      1089           3799           204